*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    background-color: gray;
    
}

.box1{
    width: 100%;
    height: 680px;
    /* background-color: aqua; */
    background-image: url(./first\ page.jpg);
}
.nav{
    width: 100%;
    height:120px;
    /* background-color: black; */
display: flex;
align-items: center;
justify-content: space-between;;
}
.herosection{
    width: 100%;
    height: 500px;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav img{
width: 250px;
height: 60px;
margin-left: 20px;
}
.emg{
    width: 200px;
    height:40px;
    background-color:transparent;
    border-radius: 7px;
    font-size: 25px;
    color: white;
    border: 1px solid white;
}
.buttons button:last-child
{
    width: 200px;
    height:40px;
    background-color:red;
    border-radius: 7px;
    font-size: 25px;
    color: white;
    border: 1px solid white;
    cursor: pointer;

}
.herosection h1{
    color: white;
    font-size:65px;
}
.herosection h2{
    color: white;
    font-size: 50px;
}
.herosection h3{
    color: white;
    font-size: 30px;
}
.text1 input{
    width:250px; 
    height:40px;
    background-color: transparent;
    border: 1px solid rgb(134, 128, 128);
    color: white;
    font-size: 20px;
    margin-left: 5px;
}
.text1 button {
    width: 200px;
    height: 42px;
    background-color:red;
    border: none;
   border-radius: 7px;
   color: white;
   font-size: 22px;
   margin-top: 20px;
}
.section1{
    width:100%;
    height: 400px;
    background-color:black;
    display: flex;
    margin-top:10px;
}
.textsection{
    width: 50%;
    height: 100%;
    /* background-color:rgb(173, 41, 41); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-inline-start: 10px;
}
.textsection h1{
    color: white;
    font-size: 40px;
    margin-inline-start: -130px;
    
}
.textsection p{
    color: white;
    font-size: 25px;
    margin-inline-start:70px;
}
.imgsection{
    width: 50%;
    height: 100%;
    background-color:black;
     display: flex; 
    align-items: center; 
    justify-content: center;
}
.imgsection img{
width: 540px;
height: 380px;
position: absolute;
z-index: 1;
/* background-color: rgb(134, 29, 219); */
}



.section2{
    width: 100%;
    height: 700px;
    background-color:black;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
}
.section2 h1{
    color: white;
    font-size:50px;
}
.btn{
    width: 950px;
    height: 60px;
    background-color: rgb(136, 132, 132);
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.btn p:first-child{
    color: white;
    font-size: 30px;
    font-weight: 400px;
    margin-left: 10px;
}
.btn p:last-child{
    color: white;
    font-size: 60px;
    font-weight: 400px;
    margin-right: 10px;
}
.section2 p{
    color: white;
    font-size:25px;
    margin-top: 10px;
}
.footer{
    width: 100%;
    height: 450px;
    background-color:black;
    margin-top: 10px;
    color: white;

    
}
.footer h4{
    color: white;
    font-size:20px;
    margin-top: 10px;


}
.list{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
justify-content:space-evenly;
}
.list ul li{
    margin-top: 10px;
    list-style: none;
}
.list ul li a{
 color: white;
 /* text-decoration:none; */
}
.footer p{
    margin-top: 20px;
    font-size: 20px;
    margin-left: 20px;
}
.footer button{
    margin-left: 20px;

}
#vid1{
    width: 500px;
    height: 220px;
    position: absolute;
    z-index: 0;
}
#vid2{
    width: 330px;
    margin-bottom: 120px;
    position: absolute;
    z-index: 0;


}
    


